@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body {
  min-height: 100vh;
  background-color: #fcfcfc;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor {
  cursor: pointer;
}
